
__pycache__/setup.cpython-310.pyc
__pycache__/nlsfunc.cpython-310.pyc
.idea/TPC_fitting_and_analysis_for_publish.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.gitattributes
