
__pycache__/setup.cpython-310.pyc
__pycache__/nlsfunc.cpython-310.pyc
.idea/TPC_fitting_and_analysis_for_publish.iml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/profiles_settings.xml
.gitattributes
.idea/vcs.xml
test_data/para/quaqua_SO20S2H_S.jpg
test_data/para/quaqua_SO20S2D_L.jpg
test_data/para/quaqua_param.csv
test_data/para/quagau_SO20S2H_S.jpg
test_data/para/quagau_SO20S2D_L.jpg
test_data/para/quagau_param.csv
test_data/para/quabet_SO20S2H_S.jpg
test_data/para/quabet_SO20S2D_L.jpg
test_data/para/quabet_param.csv
test_data/para/gaugau_SO20S2H_S.jpg
test_data/para/gaugau_SO20S2D_L.jpg
test_data/para/gaugau_param.csv
test_data/para/gaubet_SO20S2H_S.jpg
test_data/para/gaubet_SO20S2D_L.jpg
test_data/para/gaubet_param.csv
test_data/para/betbet_SO20S2H_S.jpg
test_data/para/betbet_SO20S2D_L.jpg
test_data/para/betbet_param.csv
